<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @email[:message] %></p>
    
    <p>This email is being sent to you because someone inquired a property on <a href="#">your MiniWDWOT blog</a>.</p>

  </body>
</html>