<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @email[:message] %></p>
    
    <p>This email is being sent to you because someone inquired about property on <a href="http://ng-miniwdwot.herokuapp.com/#/">MiniWDWOT</a>.</p>

  </body>
</html>
