
<div class="text-center">

  <%= image_tag organization.logo_url, class: "org-logo", width: '360px', height: '200px' %>

  <h1><%= organization.name %></h1>
</div>
<br>

<%= render partial: 'organizations/org_navbar', locals: { organization: organization } %>
