<div ng-controller='OrganizationCtrl'>

  <!-- Try to create a smooth hand-off from rails to angular by passing org id here -->
  <div id='orgId' style='display:none;' data-id=<%= @organization.id %>></div>
  <!-- <input type='text' value='@organization.id' ng-model='orgId' > -->

  <div ng-if="!badOrg">

    <div                  ng-include="'/assets/layout/header.html'"></div>
    <div ng-if='!hideNav' ng-include="'/assets/layout/navigation.html'"></div>

    <br>

    <div ng-view></div>

  </div>

  <div ng-if="badOrg">
    <h1>Looks like that organization no longer exists.</h1>
    <p>Sorry.</p>
  </div>

</div>
