<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">

      <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- <a href="#/" class='navbar-brand'>{{ organization.name }}</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class='navbar-left'>

        <ul class="nav navbar-nav">

          <li ng-class='{ active: path==organization.id || path=="" }'>
            <a href="#/{{ organization.id }}">Home</a>
          </li>

          <li ng-class='{ active: path=="properties" }'>
            <a href="#/{{ organization.id }}/properties">Properties</a>
          </li>

          <li ng-class='{ active: path=="featured" }'>
            <a href="#/{{ organization.id }}/featured">Featured Properties</a>
          </li>

          <li ng-class='{ active: path=="about" }'>
            <a href="#/{{ organization.id }}/about">About</a>
          </li>

        </ul>

      </div>

      <div class='navbar-right'>

        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>

      </div>


    </div>
  </div><!-- /.container-fluid -->
</nav>
